<h3>Sign Up:</h3>
<form id="sign_up_form" action="/sign_up" method="post">
  <input type="text" name="user[first_name]" placeholder="First Name">
  <input type="text" name="user[last_name]" placeholder="Last Name">
  <input type="email" name="user[email]" placeholder="Email">
  <input type="password" name="user[password]" placeholder="Password">
  <br><br><input type="submit" value="Sign up!">
</form><br><hr>

<h3>Log In:</h3>
<form id="login_form" action="/login" method="post">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">
  <br><br><input type="submit" value="Sign in!">
</form><br><hr>